.recipes {
  padding: 100px 20px;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Inter", sans-serif;
}

.recipes__title {
  font-size: 36px;
  margin: 0 auto 24px auto;
  max-width: 588px;
  font-weight: 500;
}

.recipes__subtitle {
  font-size: 18px;
  margin: 0 auto 80px auto;
  max-width: 438px;
}

.recipes__videos {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 0;
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  max-width: 480px;
  border: none;
  border-radius: 8px;
}

.recipes__video-caption {
  font-size: 16px;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .recipes__videos {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .recipes__videos {
    flex-direction: column;
    align-items: center;
  }
}
